<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Stars Social</title>

  <!-- bootstrap link -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- Custom CSS -->

  <link rel="stylesheet" href="{% static 'css/master.css' %}">

  <!-- Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">

</head>

<body>
  <!-- nav bar -->
  <header class="navbar navbar-expand flex-row bd-navbar navbar-static-top navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'home' %}">Stars social</a>
    <div class="navbar-bar-scroll flex-row">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com">Github sourse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/sergey-stepanov-512570185/">LinkedIn</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-md-auto flex-row">
      {% if user.is_authenticated %}
      <li><a class="nav-link" href="{%url 'posts:for_user' username=user.username %}">My Post</a></li>
      <li><a class="nav-link" href="{% url 'posts:create' %}">New Post</a></li>
      <li><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
      <li><a class="nav-link" href="{% url 'groups:create' %}">Create Group</a></li>
      <li><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
      <li><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
      <li><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
      <li><a class="nav-link" href="{% url 'accounts:signup' %}">Sing Up</a></li>
      {% endif %}
    </ul>
  </header>
  <!-- conten block -->
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>